.header {
  height: 70px;
  background-color: var(--color-black-opacity-1);
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.headerNav {
  display: flex;
}
