.photo {
  background-image: url("./associate-1.gif");
  border-radius: 50%;
  border: solid 2px var(--color-white);
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
